/Login/build/
/Login/dist/
/JavaApplication3/nbproject/private/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/login_dos/nbproject/private/
/conexion/nbproject/private/
/login_tres/nbproject/private/
/login_tres/build/
/login_tres/dist/
/New_Login/nbproject/private/
/New_Login/build/
/Ingreso/nbproject/private/
/Ingreso/build/